<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tech Blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/style/style.css" />
    </head>
    <body>
        <header>
            <h1>TECH BLOG</h1>
            <nav>
                <a id="home" href="/">HOME</a>
                {{#if loggedIn}}
                    <a id="dashboard" href="/dashboard">DASHBOARD</a>
                    <a id="logout" href="/logout">LOGOUT</a>
                {{else}}
                    <a id="login" href="/login">LOGIN</a>
                    <a id="dashboard" href="/dashboard">DASHBOARD</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <footer><h3>Created by <a href="https://github.com/claricetran" target="_blank">Clarice Tran</a></h3></footer>
    </body>
</html>