<form id="login-form">
    <h2 id="form-title">Login</h2>
    <div>
        <label for="username">Username</label><br />
        <input type="text" name="username" id="login-un" required />
    </div>
    <div>
        <label for="password">Password</label><br />
        <input type="password" name="password" id="login-pw" required />
    </div>
    <p id="login-warning" class="hide"></p>
    <div class="form-bottom">
        <button id="login-button" type="submit">Login</button>
        <a id="signup-link" class="disable-select swap"><p>Don't have an account? Sign up instead!</p></a>
    </div>
</form>
<form class="hide" id="signup-form">
    <h2 id="form-title">Sign Up</h2>
    <div>
        <label for="username">Username</label><br />
        <input type="text" name="username" id="signup-un" required />
    </div>
    <div>
        <label for="password">Password</label><br />
        <input type="password" name="password" id="signup-pw" required />
    </div>
    <p id="submit-warning" class="hide"></p>
    <div class="form-bottom">
        <button id="signup-button" type="submit">Sign Up</button>
        <a id="login-link" class="disable-select swap"><p>Log in instead</p></a>
    </div>
</form>

<script src="./js/login.js"></script>